{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
	  <title>Parinda's Blog</title>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
 	  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
	  <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</head>

    <body>
       <div class="well">
  		<h1> <b> <a href="http://parinda.pythonanywhere.com/"> Parinda's Blog </a> </b>  </h1> 
 		<h4> <p>Miscellaneous</p> </h4>
	</div>

	  <div class="content container">
             <div class="row">
              	<div class="col-md-9">
               	 {% block content %}
               	 {% endblock %}
             	 </div>

              	<div class="col-md-3">
              		<div class="well margin-top-post-list text-primary">
             	 		<div class="row">
             	 		<div class = "col-md-12" align="center"> <h4> <u> Recent Posts </h4> </u></div>
             	 	</div>
             	 </div>
              </div>
            </div>
          </div> 

    </body>
</html>
