h1 b a {
    font-size: 32pt;	
    font-family: 'Lobster';
}

.date {
    color: #000000;
}

.bottom-space-10 {
    margin-bottom:10px; 
}

.margin-left-20{
	margin-left: 50px;
}

.margin-bottom-minus{
	margin-bottom: -10px;
}

.margin-left-80{
	margin-left: 80px;
}

.margin-top-post-list{
	margin-top: 20px;
}